/* Add a black background color to the top navigation */
.topnav {
  background-color: #151A2E;
  overflow: hidden;
  position: sticky;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #E6E8F0;
  text-align: center;
  padding: 30px 25px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #1c233d;
  color: E6E8F0;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #22E6A7;
  color: black;
}

/* Topnav Logo */
.topnav b {
	float: left;
}


/* Background Colour for the main part of the page*/
body {
  background-color: #0B0F1A;
  color: #ffffff;
}

/* MAIN CONTAINER */
.container {
  display: flex;
  padding: 20px;
  gap: 20px;
}

/* LEFT COLUMN */
.left {
  flex: 1;
}

/* RIGHT COLUMN */
.right {
  flex: 1;
}

/* IMAGE PLACEHOLDER */
.image-box {
  padding: 40px;
  margin-bottom: 15px;
  text-align: center;
  border: 1px solid #ccc;
}